.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 5px 10px;
}

.navList {
  display: flex;
  list-style: none;
}

.navItem {
  margin-left: 20px;
}

.navList:last-child .navItem:last-child {
  margin-right: 0;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}